statemachine/pipeline.asl.json
{
  "Comment": "FPL Prediction Pipeline - Fetches data, processes features, runs inference, and loads predictions",
  "StartAt": "FetchData",
  "States": {
    "FetchData": {
      "Type": "Task",
      "Resource": "${DataFetcherFunctionArn}",
      "Comment": "No Parameters block — Lambda receives raw input and auto-detects gameweek if not provided. Supports both EventBridge (no gameweek) and manual invocations (gameweek included).",
      "ResultPath": "$.fetchResult",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "ProcessFeatures"
    },
    "ProcessFeatures": {
      "Type": "Task",
      "Resource": "${FeatureProcessorFunctionArn}",
      "Parameters": {
        "gameweek.$": "$.fetchResult.gameweek",
        "season.$": "$.fetchResult.season",
        "mode": "prediction"
      },
      "ResultPath": "$.featureResult",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "RunInference"
    },
    "RunInference": {
      "Type": "Task",
      "Resource": "${InferenceFunctionArn}",
      "Parameters": {
        "gameweek.$": "$.featureResult.gameweek",
        "season.$": "$.featureResult.season",
        "features_file.$": "$.featureResult.features_file"
      },
      "ResultPath": "$.inferenceResult",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "LoadPredictions"
    },
    "LoadPredictions": {
      "Type": "Task",
      "Resource": "${PredictionLoaderFunctionArn}",
      "Parameters": {
        "gameweek.$": "$.inferenceResult.gameweek",
        "season.$": "$.inferenceResult.season",
        "predictions_key.$": "$.inferenceResult.predictions_key",
        "replace_existing": true
      },
      "ResultPath": "$.loadResult",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "NotifySuccess"
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${AlertTopicArn}",
        "Subject": "FPL Pipeline Completed Successfully",
        "Message.$": "States.Format('Pipeline completed for gameweek {}. Predictions loaded to DynamoDB.', $.loadResult.gameweek)"
      },
      "End": true
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${AlertTopicArn}",
        "Subject": "FPL Pipeline FAILED",
        "Message.$": "States.Format('Pipeline failed. Error: {}', States.JsonToString($.error))"
      },
      "Next": "FailPipeline"
    },
    "FailPipeline": {
      "Type": "Fail",
      "Error": "PipelineExecutionFailed",
      "Cause": "One or more steps in the pipeline failed"
    }
  }
}
